<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.firefingers21.whoislookup</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0D60511B-7597-436E-BE4A-C17C68128E67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C616DC19-4F2C-4BB0-A121-3C2C7CFA9C96</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥↩ Update Now</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>10618D96-0920-40DD-B93D-B15ABCA537E6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘↩ Open in Text File</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1998BF4D-3A1C-491D-BFA4-58AF36971519</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C31D15AD-8829-40BF-961F-AF7B601E2F0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68086CAB-E7AF-481F-87FF-86945C52E2C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EA42254-DA33-4F68-BF20-49C93B752987</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8406A42D-C07D-4334-A795-0D7DEFDC941A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EA42254-DA33-4F68-BF20-49C93B752987</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BAC262F-5C23-460C-B30D-FF98ABA74233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76AE0097-92A6-4AD5-B264-E3F3F1B6172D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D60511B-7597-436E-BE4A-C17C68128E67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1601BACE-C536-4B4B-A4FC-3EBB52944EE5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>806A240B-3C2F-4F81-B7E1-05EFD14DA73F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF10AC66-4906-40D4-A59E-60EE1B3C1F22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BAC262F-5C23-460C-B30D-FF98ABA74233</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76AE0097-92A6-4AD5-B264-E3F3F1B6172D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF10AC66-4906-40D4-A59E-60EE1B3C1F22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68086CAB-E7AF-481F-87FF-86945C52E2C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4A84DC9C-291A-401E-9763-848D9579B2BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C31D15AD-8829-40BF-961F-AF7B601E2F0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A84DC9C-291A-401E-9763-848D9579B2BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C616DC19-4F2C-4BB0-A121-3C2C7CFA9C96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC103D59-8D47-4A74-A4FE-870902394150</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FireFingers21</string>
	<key>description</key>
	<string>Perform a WHOIS lookup in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WHOIS Lookup</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>806A240B-3C2F-4F81-B7E1-05EFD14DA73F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:whois_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>whoisLookup</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BF10AC66-4906-40D4-A59E-60EE1B3C1F22</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>Last Updated: {var:lastUpdated}            ⌥↩ Update Now   ·   ⌘↩ Open in Text File</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>0D60511B-7597-436E-BE4A-C17C68128E67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>whoisReload</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>EC103D59-8D47-4A74-A4FE-870902394150</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>lookup.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>whoisReload</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6EA42254-DA33-4F68-BF20-49C93B752987</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:autocomplete}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>8406A42D-C07D-4334-A795-0D7DEFDC941A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>68086CAB-E7AF-481F-87FF-86945C52E2C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:textView}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>Inline</string>
						<key>uid</key>
						<string>1601BACE-C536-4B4B-A4FC-3EBB52944EE5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>76AE0097-92A6-4AD5-B264-E3F3F1B6172D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>8BAC262F-5C23-460C-B30D-FF98ABA74233</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>forceReload</key>
					<string>1</string>
					<key>lastUpdated</key>
					<string>Just now</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C616DC19-4F2C-4BB0-A121-3C2C7CFA9C96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:whois_file}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>10618D96-0920-40DD-B93D-B15ABCA537E6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>whoisLookup</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>4A84DC9C-291A-401E-9763-848D9579B2BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>WHOIS Lookup</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>1998BF4D-3A1C-491D-BFA4-58AF36971519</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/url-processing/url.hostname</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C31D15AD-8829-40BF-961F-AF7B601E2F0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Perform a [WHOIS](https://en.wikipedia.org/wiki/WHOIS) lookup using the `whois` keyword. Type the domain or IP address you would like to query.

![Using the whois keyword](images/about/keyword.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; View WHOIS data in Alfred's [Text View](https://www.alfredapp.com/help/workflows/user-interface/text/)
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; View raw WHOIS data in a text file

The [Text View](https://www.alfredapp.com/help/workflows/user-interface/text/) will try to summarize important information at the top, then display the raw, unmodified data at the bottom. You can choose which information you'd like summarized in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).

![Querying alfredapp.com with summary](images/about/summaryData.png)

![Querying alfredapp.com without summary](images/about/rawData.png)

Configure the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) as a shortcut to perform a WHOIS lookup. Use the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/) to query URLs from Alfred’s [Clipboard History](https://www.alfredapp.com/help/features/clipboard/) or selected text.

![Using the Universal Action](images/about/universalAction.png)</string>
	<key>uidata</key>
	<dict>
		<key>0D60511B-7597-436E-BE4A-C17C68128E67</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>View WHOIS Data</string>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>10618D96-0920-40DD-B93D-B15ABCA537E6</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>1998BF4D-3A1C-491D-BFA4-58AF36971519</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>4A84DC9C-291A-401E-9763-848D9579B2BD</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Loading Screen/
Autocomplete</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>68086CAB-E7AF-481F-87FF-86945C52E2C6</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>6EA42254-DA33-4F68-BF20-49C93B752987</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Get WHOIS Data</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>76AE0097-92A6-4AD5-B264-E3F3F1B6172D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>806A240B-3C2F-4F81-B7E1-05EFD14DA73F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>8BAC262F-5C23-460C-B30D-FF98ABA74233</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>BF10AC66-4906-40D4-A59E-60EE1B3C1F22</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Main Action &amp; Keyword</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>C31D15AD-8829-40BF-961F-AF7B601E2F0D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>C616DC19-4F2C-4BB0-A121-3C2C7CFA9C96</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>775</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>EC103D59-8D47-4A74-A4FE-870902394150</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Update Cache</string>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>whois</string>
				<key>placeholder</key>
				<string>whois</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>WHOIS Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>whois_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Domain Information</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Summary</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>domainInfo</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Registrant Contact</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>registrantContact</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Administrative Contact</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>adminContact</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Technical Contact</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>techContact</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Billing Contact</string>
			</dict>
			<key>description</key>
			<string>Information to summarize in the Text View</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>billingContact</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Search Suggestions</string>
			</dict>
			<key>description</key>
			<string>Enable suggestions &amp; tab-completion of WHOIS history</string>
			<key>label</key>
			<string>Autocomplete</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useAutocomplete</string>
		</dict>
	</array>
	<key>version</key>
	<string>2024.7</string>
	<key>webaddress</key>
	<string>https://github.com/FireFingers21/alfred-whois-lookup</string>
</dict>
</plist>
